// ========================================
//            ESTILOS GENERALES 
// ========================================

@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darken(#252B37, 4%);
    color: $tertiary-color;
    font-family: "Nunito", serif;
}