// ========================================
//                VARIABLES
// ========================================

// Colores
$primary-color: #b70e0e;
$secondary-color: #000000;
$tertiary-color: #ffffff;

// Tamaños
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 40px;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1280px;

// Z-index
$z-index-header: 100;
$z-index-footer: 100;
$z-index-modal: 1000;